<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>评论列表</title>
    <!--    JQuery-->
    <script th:src="@{https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js}"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
<div class="container" style="text-align: center;">
    <ul th:if="${hasUserId}" class="nav nav-pills">
        <li role="presentation"><a th:href="@{/douyin/user/}">用户主页</a></li>
        <li role="presentation"><a th:href="@{/douyin/publish/list/}">上传列表</a></li>
        <li role="presentation"><a th:href="@{/douyin/favorite/list/}">点赞列表</a></li>
        <li role="presentation"><a th:href="@{/douyin/feed}">视频流</a></li>
    </ul>
    <ul th:unless="${hasUserId}" class="nav nav-pills">
        <li role="presentation"><a th:href="@{/login}">登录</a></li>
        <li role="presentation"><a th:href="@{/register}">注册</a></li>
        <li role="presentation"><a th:href="@{/douyin/feed}">视频流</a></li>
    </ul>
    <h1>视频信息</h1>
    <table class="table table-bordered">
        <tr>
            <th>视频id</th>
            <th>作者id</th>
            <th>作者名</th>
            <th>作者关注数</th>
            <th>作者粉丝数</th>
            <th>关注状态</th>
            <th>视频</th>
            <th>封面</th>
            <th>视频点赞数量</th>
            <th>视频评论总数</th>
            <th>点赞状态</th>
            <th>视频标题</th>
        </tr>
        <tr>
            <th th:text="${commentlist.videoInfo.id}">视频id</th>
            <th th:text="${commentlist.videoInfo.user.id}">用户id</th>
            <th th:text="${commentlist.videoInfo.user.username}">用户名</th>
            <th th:text="${commentlist.videoInfo.user.follow_count}">用户关注数</th>
            <th th:text="${commentlist.videoInfo.user.follower_count}">用户粉丝数</th>
            <th th:if="${commentlist.videoInfo.user.id} != ${user_id} and ${hasUserId}" th:text="${commentlist.videoInfo.user.is_follow}">关注状态</th>
            <th th:if="${commentlist.videoInfo.user.id} == ${user_id} and ${hasUserId}">无法关注自己</th>
            <th th:unless="${hasUserId}">未登录</th>
            <th>
                视频播放
                <video style="height: 600px; width: 400px" controls>
                    <source th:src="${commentlist.videoInfo.playurl}" type="video/mp4">
                </video>
            </th>
            <th>
                视频封面<img  class="img-rounded" alt="Responsive image" style="height: 600px; width: 400px" th:src="${commentlist.videoInfo.coverurl}">
            </th>
            <th th:text="${commentlist.videoInfo.favorite_count}">视频点赞数量</th>
            <th th:text="${commentlist.videoInfo.comment_count}">视频评论总数</th>

            <th th:if="${hasUserId}" th:text="${commentlist.videoInfo.is_favorite}">点赞状态</th>
            <th th:unless="${hasUserId}">未登录</th>

            <th th:text="${commentlist.videoInfo.title}">视频标题</th>
        </tr>
    </table>
    <h1>当前视频的评论</h1>
    <table class="table table-bordered">
        <tr>
            <th>评论id</th>
            <th>作者id</th>
            <th>作者名</th>
            <th>作者关注数</th>
            <th>作者粉丝数</th>
            <th>关注状态</th>
            <th>评论内容</th>
            <th>评论时间</th>
            <th>删除</th>
        </tr>
        <tr th:each="comment:${commentlist.commentInfo}">
            <th th:text="${comment.id}">评论id</th>
            <th th:text="${comment.user.id}">用户id</th>
            <th th:text="${comment.user.username}">用户名</th>
            <th th:text="${comment.user.follow_count}">用户关注数</th>
            <th th:text="${comment.user.follower_count}">用户粉丝数</th>

            <th th:unless="${hasUserId}">未登录</th>
            <th th:if="${comment.user.id} != ${user_id}" th:text="${comment.user.is_follow}">关注状态</th>
            <th th:if="${comment.user.id} == ${user_id} and ${hasUserId}">无法关注自己</th>

            <th th:text="${comment.content}">评论内容</th>
            <th th:text="${comment.createdate}">评论时间</th>
            <th th:if="${comment.user.id} eq ${user_id} and ${hasUserId}">
                <a th:href="@{'/douyin/comment/action/?action_type=2&&video_id='+${commentlist.videoInfo.id}+'&&comment_id='+${comment.id}}">删除</a>
            </th>
            <th th:unless="${comment.user.id} eq ${user_id} or ${hasUserId}">非用户发布的评论</th>
        </tr>
    </table>
    <div th:if="${hasUserId}">
        <h1 style="text-align: center;">发布评论</h1>
        <h4 th:text="${param.publish_comment_msg}">发布情况Msg...</h4>
        <form class="form-horizontal" th:action="@{/douyin/comment/action/}" th:method="GET">
            <input name="action_type" value="1" style="display: none">
            <input name="video_id" th:value="${commentlist.videoInfo.id}" style="display: none">
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">评论</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="inputEmail3" placeholder="评论内容" name="comment_text">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">发布</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>


</body>
<script>

</script>
</html>