<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>粉丝列表</title>
    <!--    JQuery-->
    <script th:src="@{https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js}"></script>
    <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css}" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script th:src="@{https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js}" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
</head>
<body>
<div class="container" style="text-align: center;">
    <ul class="nav nav-pills">
        <li role="presentation"><a th:href="@{/douyin/user/}">用户主页</a></li>
        <li role="presentation"><a th:href="@{/douyin/publish/list/}">上传列表</a></li>
        <li role="presentation"><a th:href="@{/douyin/favorite/list/}">点赞列表</a></li>
        <li role="presentation"><a th:href="@{/douyin/relation/follow/list/}">关注列表</a></li>
        <li role="presentation"  class="active"><a th:href="@{/douyin/relation/follower/list/}">粉丝列表</a></li>
        <li role="presentation" ><a th:href="@{/douyin/feed}">视频流</a></li>
    </ul>
    <h1>粉丝列表</h1>
    <table class="table table-bordered">
        <tr>
            <th>用户id</th>
            <th>用户名</th>
            <th>用户关注数</th>
            <th>用户粉丝数</th>
            <th>关注状态</th>
        </tr>
        <tr th:each="follower:${followerList}">
            <th th:text="${follower.id}">用户id</th>
            <th th:text="${follower.username}">用户名</th>
            <th th:text="${follower.follow_count}">用户关注数</th>
            <th th:text="${follower.follower_count}">用户粉丝数</th>
            <th th:text="${follower.is_follow}">关注状态</th>
        </tr>
    </table>
</div>


</body>
<script>

</script>
</html>